
body{
  margin: 0;
}

ul{
    list-style: none;
    padding: 0;
}

a{
    text-decoration: none;
    display: inline-block;
    color: #000;
    font-family: Arial, sans-serif;
}

header li{
    display: inline;
    padding-left: 15px;
}

header{
    display: flex;
    justify-content: space-between;
    margin-top: 6px;
}

main{
    margin: 100px auto 0 auto;
}

.rightLinks{
    display: flex;
    align-items: center;
    padding: 0 30px;
}

.rightLinks a{
  font-size: 13px;
}

.rightLinks ul a{
    color: rgba(0, 0, 0, 0.87);
}

.rightLinks ul a:hover{
    text-decoration: underline;
    opacity: 0.75;
}

.logo{
    display: block;
    margin: 0 auto;
    width: 272px;
}

.logo img{
    display: block;
    margin: 0 auto;
    width: 272px;
}

.searchBar{
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    height: 44px;
    margin: 30px auto;
    width: 582px;
    align-items: center;
    display: flex;
}

.searchField{
    font: 16px arial,sans-serif;
    height: 34px !important;
    margin: 0;
    padding: 0;
    color: rgba(0,0,0,.87);
    font-size: 16px;
    width: 100%;
    border: none;
    outline: none;
}

.searchFieldLeft {
    margin: auto 15px;
}

.searchFieldRight{
    padding: 0 15px 0 7px;
}

.submitButtons{
    justify-content: center;
    display: flex;
}

.b-main{
    background-color: rgb(241, 239, 239);
    border: 1px solid rgb(242, 242, 242);
    border-radius: 4px;
    color: rgb(95, 99, 104);
    font-family: arial, sans-serif;
    font-size: 14px;
    margin: 0px 4px;
    padding: 5px 16px;
    line-height: 27px;
    min-width: 54px;
    cursor: pointer;
}

.b-main:hover{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 1px;
    background-color: rgb(248, 248, 248);
    border: 1px solid rgb(198, 198, 198);
    color: rgb(34, 34, 34);
}
.camera{
  height:25px;
  position:relative;
  top:7px;
  left:2px;
}
